/* Variables
/* ---------------------------------------------------------- */

:root {

  --opacity-primary: 1;
  --opacity-secondary: 0.7;
  --opacity-subdued: 0.4;

  --color-background: #1B1D1F;
  --color-background-transparent: rgba(27, 29, 31, 0.7);
  --color-background-code: #222F3E;
  --color-border-card: #222F3E;
  --color-separator: rgba(255, 255, 255, 0.4);
  --color-text-primary: #FFF;
  --color-text-secondary: rgba(255, 255, 255, var(--opacity-secondary));
  --color-text-subdued: rgba(255, 255, 255, var(--opacity-subdued));
  --color-text-highlight: #10AC84;
  --color-text-link: #FF9F43;
  --color-text-link-hover: #FECA57;
  --color-background-card-hover: var(--color-background-code);
  --color-border-card-hover: var(--color-text-link-hover);

  /* Colours */
  --color-primary: #3eb0ef;
  --color-base: #131313;
  --color-border: #ddd;
  --color-bg: #f5f5f5;

  /* Fonts */
  --font-header: 'CascadiaCode', sans-serif;
  --font-body: 'SourceSans', sans-serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;

  --content-left-flex: 1;
  --content-right-flex: 1;
  --content-main-flex: 3;

  /* Content */
  --content-width: 60rem;
  --card-radius: 4px;

}
