/* Footer
/* ---------------------------------------------------------- */

.foot {
  --profile-image-size: 64px;
  --profile-image-half: 32px;
  --profile-image-quarter: 16px;

  --icon-size: 64px;
  --icon-size-half: 32px;
  --icon-size-quarter: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.foot .separator {
  display: none;
  margin-bottom: 2rem;
}

/* Author
/* ---------------------------------------------------------- */

.foot-author-details {
  display: none;
  color: var(--color-text-secondary);
}

.foot-author-details .profile-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-author-details .profile-author .profile-image {
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: var(--profile-image-half);
  margin-bottom: 2rem;
}

.foot-author-details .profile-author .profile-bio {
  max-width: var(--content-width);
  text-align: justify;
}

.foot-author-details .profile-author .profile-links {
  display: flex;
}

.foot-author-details .profile-author .profile-links a .icon {
  opacity: var(--opacity-secondary);
}

.foot-author-details .profile-author .profile-links a:hover .icon {
  opacity: var(--opacity-primary);
}

.foot-author-details .profile-author .profile-links .icon {
  width: var(--icon-size);
  height: var(--icon-size);
  padding: var(--icon-size-quarter);
  margin: 0.5rem;
}

@media(max-width: 950px) {
  .foot .separator, .foot-author-details {
    display: block;
  }

  .foot-author-details {
    max-width: 100%;
  }
}

@media(max-width: 300px) {
  .foot {
    --icon-size: 16px;
    --icon-size-half: 8px;
    --icon-size-quarter: 4px;
  }

  .foot-author-details .profile-author .profile-bio {
    text-align: left;
  }

  .foot-author-details .profile-author .profile-links .icon {
    padding: 0;
    margin: var(--icon-size);
  }
}

/* Site
/* ---------------------------------------------------------- */

.foot-site-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-subdued);
  font-size: 1rem;
  margin-top: 2rem;
}

.foot .foot-site-info a {
  color: inherit;
}

.foot .foot-site-info a:hover {
  color: var(--color-text-link-hover);
}
