/* Header
/* ---------------------------------------------------------- */

.head {
  display: flex;
  padding-bottom: 4rem;
  z-index: 99999;
  background-color: var(--color-background);
}

.head-left {
  flex: var(--content-left-flex);
}

.head-right {
  flex: var(--content-right-flex);
}

.head-container {
  flex: var(--content-main-flex);
}

.head-container {
  max-width: var(--content-width);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 8rem 0 2rem 0;
}

.head-brand a, .head-brand a:hover, .head-brand a:visited {
  color: var(--color-text-primary);
  text-decoration: none;
}

.head-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.head-description {
  font-size: 1.75rem;
  color: var(--color-text-secondary);
}

.head-title, .head-description {
  font-family: var(--font-header);
  font-weight: var(--font-normal);
}

/* Navigation
/* ---------------------------------------------------------- */

.head-nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4rem;
}

.head-nav .nav {
  display: flex;
}

.head-nav .nav li {
  margin: 0 2rem 0 0;
  padding: 1rem 0;
}

.head-nav .nav a {
  padding: 5px 0;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1.5rem;
}

.head-nav .nav-current a, .head-nav .nav a:hover {
  color: var(--color-text-primary);
  border-bottom: 1pt solid var(--color-text-primary);
}

/* Social navigation
/* ---------------------------------------------------------- */

.head-social {
  display: flex;
}

.head-social a .icon {
  box-sizing: unset;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.head-social a .icon {
  opacity: var(--opacity-secondary);
}

.head-social a:hover .icon {
  opacity: var(--opacity-primary);
}

/* Header Mobile
/* ---------------------------------------------------------- */

@media(max-width: 950px) {
  .head {
      padding-bottom: 0;
  }
  .head-left, .head-right {
      display: none;
  }
  .head-container {
      max-width: none;
      margin: 2rem 2rem 2rem 2rem;
  }
  .head-nav-container {
      margin-top: 1rem;
  }
  .head-title {
      font-size: 2rem;
  }
  .head-description {
      font-size: 1.5rem;
  }
  .head-social {
      display: none;
  }
}


/* Banner
/* ---------------------------------------------------------- */

.banner {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1pt solid var(--color-separator);
  background-color: var(--color-background);
}

.banner-container {
  display: flex;
  align-items: center;
}

.banner-brand a, .banner-brand a:hover, .banner-brand a:visited {
  color: var(--color-text-primary);
  text-decoration: none;
}

.banner-title {
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: lighter;
  padding: 2rem;
}

.banner-separator {
  height: 2rem;
  width: 1pt;
  margin-right: 2rem;
  background-color: var(--color-text-primary);
}

/* Banner Navigation
/* ---------------------------------------------------------- */

.banner-nav-container {
  display: flex;
  align-items: center;
}

.banner-nav .nav {
  display: flex;
}

.banner-nav .nav li {
  margin: 0 2rem 0 0;
  padding: 0;
}

.banner-nav .nav a {
  padding: 5px 0;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 1.5rem;
}

.banner-nav .nav-current a, .banner-nav .nav a:hover {
  color: var(--color-text-primary);
}

/* Banner Social
/* ---------------------------------------------------------- */

.banner-social {
  display: flex;
  margin-left: -1rem;
}

.banner-social a {
  box-sizing: unset;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.banner-social a .icon {
  opacity: var(--opacity-secondary);
}

.banner-social a:hover .icon {
  opacity: var(--opacity-primary);
}

/* Banner Mobile
/* ---------------------------------------------------------- */

@media(max-width: 950px) {
  .banner {
      justify-content: flex-start;
  }
  .banner-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }
  .banner-title {
      font-size: 1.75rem;
      padding: 0 1rem 0 0;
  }
  .banner-nav {
      padding-top: 1rem;
      padding-bottom: 0.25rem;
  }
  .banner-nav .nav a {
      padding-top: 1rem;
      padding-bottom: 0.25rem;
      font-size: 1.25rem;
  }
  .banner-nav .nav li {
      margin-right: 1rem;
  }
  .banner-nav-container-social, .banner-separator {
      display: none;
  }
}
