<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body">

    <div class="viewport">
      {% include header.html current_page='home' %}

      <div class="main-wrapper">
        <div class="main-container main-left">
          {% include profile.html %}
        </div>

        <div class="main-container">
          <main class="main">
            {{ content }}
          </main>
        </div>

        <div class="main-container main-right"></div>
      </div>

      {% include footer.html %}
    </div>

    <script src="{{ base }}/assets/js/main.js"></script>
  </body>
</html>
