---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-details">
      <p class="item">
        <a href="{{ page.author.website | default: site.author.website }}" class="item">
          <img class="icon" src="/assets/images/icons/avatar.png" /> {{ page.author.name | default: site.author.name }}
        </a>
      </p>
      <p class="item"><img class="icon" src="/assets/images/icons/calendar.png" /> {{ page.date | date: "%Y/%m/%d" }}</p>
    </div>

    <div class="post-tags">
      <img class="icon" src="/assets/images/icons/tag.png" />
      <div class="post-tags-inner">
        {% for tag in page.tags %}
          {% if forloop.last == false %}{% assign has_comma = true %}{% else %}{% assign has_comma = false %}{% endif %}
          {% for data_tag in site.data.tags %}
            {% if data_tag.slug == tag %}
              <a href="{{ site.url }}/tags/{{ data_tag.slug }}">{{ data_tag.name }}</a>{% if has_comma %}, {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    {% if page.feature_image %}
      <img class="post-image" src="{{ page.feature_image }}" alt="{{ page.title }}" />
    {% endif %}
  </header>

  <div class="content">
    {{content}}
  </div>

  <script src="https://utteranc.es/client.js"
        repo="autoreleasefool/runcode.blog"
        issue-term="pathname"
        label="comments"
        theme="github-dark"
        crossorigin="anonymous"
        async>
  </script>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <footer class="post-footer"></footer>
</article>